@import "src/styles/variables";

:host {
    display: grid;
    grid-template-columns: repeat(8, 1fr);
    grid-template-rows: repeat(4, 1fr);
    column-gap: 1.5rem;
    row-gap: 1.5rem;
    height: 100%;
}

#favorite-devices {
    grid-column: 1 / 5;
    grid-row: 1;

    display: grid;
    row-gap: 0.5rem;
    // grid-template-rows: 1fr 3fr;
}

#temperature,
#humidity {
    grid-row: 2;

    mat-card {
        height: 100%;
    }
}

#temperature {
    grid-column: 1 / 3;

    mat-card {
        display: flex;
        justify-content: space-between;
        align-items: center;

        .icon-container {
            display: flex;
            justify-content: center;
            align-items: center;
            flex-grow: 1;
        }

        mat-icon {
            font-size: 5rem;
            margin: -2rem;
        }

        .title {
            opacity: 0.5;
        }

        h1 {
            margin: 0;
            
            &::before {
                content: "+";
                font-size: 1.75rem;
                margin-right: -0.5rem;
            }

            &::after {
                content: "°C";
                font-size: 1.75rem;
                margin-left: -0.5rem;
            }
        }
    }
}

#humidity {
    grid-column: 3 / 5;
}

#power {
    grid-row: 3 / -1;
    grid-column: 1 / 5;

    mat-card {
        height: 100%;
    }
}

#notifications,
#weather {
    grid-row: 1 / 3;

    mat-card {
        height: 100%;
    }
}

#notifications {
    grid-column: 5 / 7;
}

#weather {
    grid-column: 7 / -1;
}

.devices,
.header {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    column-gap: 1.5rem;
}

.header {
    .title {
        margin: 0;
        line-height: 1;
        grid-column: 1 / 3;
    }

    button {
        grid-column: 4;
    }
}