<section id="favorite-devices">
    <div class="header">
        <h4 class="title">Favorite Devices</h4>

        <button mat-flat-button color="primary">All Devices</button>
    </div>
    <div class="devices">
        <mat-card class="device">
            Device 1
        </mat-card>
        <mat-card class="device">
            Device 2
        </mat-card>
        <mat-card class="device">
            Device 3
        </mat-card>
        <mat-card class="device">
            Device 4
        </mat-card>
    </div>
</section>

<section id="temperature">
    <mat-card>
        Temperature
    </mat-card>
</section>

<section id="humidity">
    <mat-card>
        Humidity
    </mat-card>
</section>

<section id="power">
    <mat-card>
        Power
    </mat-card>
</section>

<section id="notifications">
    <mat-card>
        Notifications
    </mat-card>
</section>