@import "src/styles/variables";

:host {
  display: grid;
  grid-template-columns: repeat(8, 1fr);
  grid-template-rows: repeat(4, 1fr);
  column-gap: 1.5rem;
  row-gap: 1.5rem;
  height: 100%;
}

#img {
  grid-column: 7 / -1;
  grid-row: 3 / -1;

  display: flex;
  justify-content: center;
  align-items: center;

  img {
    width: 100%;
    height: auto;
  }
}
