<section id="favorite-devices">
    <div class="header">
        <h5 class="title">Favorite Devices</h5>
        <button mat-flat-button color="primary">All Devices</button>
    </div>
    <div class="devices">
        <mat-card class="device">
            Device 1
        </mat-card>
        <mat-card class="device">
            Device 2
        </mat-card>
        <mat-card class="device">
            Device 3
        </mat-card>
        <mat-card class="device">
            Device 4
        </mat-card>
    </div>
</section>

<section id="temperature">
    <mat-card>
        <div class="icon-container">
            <mat-icon inline="true">thermostat</mat-icon>
        </div>
        <div class="content">
            <small class="title">Indoor Temperature</small>
            <h1>
                {{ (temperatureList | async | getLastItem)?.message }}
            </h1>
        </div>
    </mat-card>
</section>

<section id="humidity">
    <mat-card>
        Humidity
    </mat-card>
</section>

<section id="power">
    <mat-card>
        Power
    </mat-card>
</section>

<section id="notifications">
    <mat-card>
        Notifications
    </mat-card>
</section>

<section id="weather">
    <mat-card>
        Weather
    </mat-card>
</section>