@import "src/styles/variables";

.grid {
  display: grid;
  grid-template-columns: repeat(10, 1fr);
  column-gap: 1.5rem;
  // grid-template-rows: 50px 1fr 50px;
  height: 100vh;
}

main {
  grid-column: 2 / -1;
  padding: 1.5rem 1.5rem 1.5rem 0;
  height: 100vh;
}
