<nav class="sidenav">
    <ul class="navbar-nav">
        <li class="logo">
            <a href="/" class="nav-link">
                <img src="" alt="Logo">
            </a>
        </li>

        <li class="nav-item">
            <a routerLink="dashboard" class="nav-link">
                <mat-icon aria-hidden="false" aria-label="Dashboard Icon">dashboard</mat-icon>
                <small>Dashboard</small>
            </a>
        </li>

        <li class="nav-item">
            <a routerLink="devices" class="nav-link">
                <mat-icon aria-hidden="false" aria-label="Devices Icon">sensors</mat-icon>
                <small>Devices</small>
            </a>
        </li>

        <li class="nav-item">
            <a routerLink="settings" class="nav-link">
                <mat-icon aria-hidden="false" aria-label="Settings Icon">settings</mat-icon>
                <small>Settings</small>
            </a>
        </li>
    </ul>
</nav>