@import "src/styles/variables";

mat-card {
  height: 100%;

  display: flex;
  justify-content: space-evenly;
  align-items: center;

  .icon-container {
    display: flex;
    justify-content: flex-start;
    align-items: center;
  }

  mat-icon {
    font-size: 5rem;
    margin: -2rem 0;
  }

  .title {
    opacity: 0.5;
  }

  h1 {
    margin: 0;
    line-height: 1;
    margin-bottom: 0.25rem;
  }

  &.status-indicator {
    &.green {
      border: 5px solid $green;
    }

    &.yellow {
      border: 5px solid $yellow;
    }

    &.red {
      border: 5px solid $red;
    }
  }
}
