:host {
  grid-row: 2;
  grid-column: 3 / 5;

  mat-card {
    height: 100%;

    display: flex;
    justify-content: flex-start;
    align-items: center;

    .icon-container {
      display: flex;
      justify-content: flex-start;
      align-items: center;

      margin-right: 1rem;
    }

    mat-icon {
      font-size: 5rem;
      margin: -2rem 0;
    }

    .title {
      opacity: 0.5;
    }

    h1 {
      margin: 0;

      &::before {
        font-size: 1.75rem;
        margin-right: -0.5rem;
      }

      &::after {
        //   TODO: update icon
        // content: "%";
        font-size: 1.75rem;
        margin-left: -0.5rem;
      }
    }
  }
}
