@import "src/styles/variables";

:host {
  grid-row: 1;
  grid-column: 2 / -1;

  display: grid;
  grid-template-columns: repeat(8, 1fr);
  column-gap: 1.5rem;
  row-gap: 0.5rem;

  padding-top: 1.5rem;
}

#date {
  grid-row: 2;
  grid-column: 1/7;

  .current-date {
    margin: 0;
    text-transform: uppercase;
  }
}

#search {
  grid-column: 1 / 7;

  .input-container {
    width: 100%;
    background: $fg-gray;
    border-radius: 4px;

    display: flex;
    justify-content: space-between;
    align-items: center;

    padding: 0 0.5rem;

    input {
      border: 0;
      border-radius: 4px;
  
      font-size: 1rem;
      width: 100%;

      margin-left: 0.5rem;
      padding: 0.5rem 0;
      
      background: $fg-gray;
      color: $white;

      &:focus{
        outline: none;
      }

      &::placeholder {
        color: $white;
        opacity: 0.5;
      }
    }
  }
}

#profile {
  grid-column: 7 / -1;
}

.dropdown-button {
  display: flex;
  justify-content: flex-end;
  align-items: center;

  .container {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    
    cursor: pointer;
  }

  p {
    margin: 0 0.25rem 0 0;
  }
}